.example-exit {
  opacity: 1;
}
.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.pageSlider-enter {
  transform: translate3d(100%, 0, 0);
  /* transform: translate3d(0, 100%, 0); */
}

.pageSlider-enter.pageSlider-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 300ms;
}
.pageSlider-exit {
  transform: translate3d(0, 0, 0);
}

.pageSlider-exit.pageSlider-exit-active {
  opacity: 0.01;
  /* transform: translate3d(100%, 0, 0); */
  transform: translate3d(0, 100%, 0);
  transition: all 300ms;
}
